{# Plantilla de nuestra aplicación #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/lugarForm.html.twig' %}

{#  TITULO #}
{% block title %}Registro{% endblock %}
{#  CONTENIDO #}
{% block contenidoDF %}
    <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Lugares Diana Florez
      <small>Registro de usuario</small>
    </h1>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
      </div>
      <div class="col-lg-6">
        <h2>About Modern Business</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock %}
